.btnActive{
    color: var(--btn-txt);
    background-color: var(--btn-bg);
    font-weight: 600;
}

.btn{
    transition: all 0.5s ease;
    font-weight: 500;

}

.btn:hover{
    color: var(--btn-txt);
    background-color: var(--btn-bg);
}

