body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #0B0A12;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --btn-txt:#5143d9;
  --btn-bg:rgba(81, 67, 217, 0.1);
  --success:rgb(12,188,135);
}

section {
  padding-top: 3.5rem;
  padding-bottom: 2.8rem;
}

p,a,label,button{
  font-family: 'DM Sans', sans-serif;
  color: #747579;
}

@media screen and (min-width: 1200px) {

  .container{
    max-width: 1140px;
  }

}
